.wp-block-query-pagination {
	margin-top: calc(2 * var(--goldencat--spacing-vertical));
	margin-bottom: calc(2 * var(--goldencat--spacing-vertical));
	display: flex;
	gap: 0.5em;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;

	.page-numbers {
		color: var(--wp--preset--color--red);
		font-family: var(--wp--preset--font-family--tertiary);
		font-weight: 500;
		margin-top: var(--goldencat--spacing-vertical);
		margin-left: calc(0.2 * var(--goldencat--spacing-unit));
		margin-right: calc(0.2 * var(--goldencat--spacing-unit));
		letter-spacing: 1px;
		text-align: center;
		line-height: 28px;
		display: inline-block;
		min-width: 30px;
		min-height: 30px;

		&.current {
			border: 1px solid var(--wp--preset--color--red);
			border-radius: 50%;
		}
	}

	> .wp-block-query-pagination-numbers {
		margin: 0;
	}

	.wp-block-query-pagination-previous,
	.wp-block-query-pagination-next {
		margin-top: var(--goldencat--spacing-vertical);
		margin-left: calc(0.2 * var(--goldencat--spacing-unit));
		margin-right: calc(0.2 * var(--goldencat--spacing-unit));
		margin-bottom: 0;
		width: 24px;
		height: 24px;
		fill: currentColor;
	}


	.wp-block-query-pagination-previous {
		/* stylelint-disable */
		content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="19" height="34" viewBox="0 0 19 34"%3E%3Cpath fill="%23f34133" d="m.90160863 33c-.49703989.0008943-.90067913-.3874262-.90160863-.8672073-.00042047-.2312984.094752-.4532307.2644256-.6166055l15.5642416-15.0219297-15.5642416-15.02201115c-.34533767-.34507428-.33538169-.89505932.02210566-1.2284058.34879696-.32512073.90169161-.32512073 1.25040419 0l16.19956845 15.63706915c.3513281.3392104.3513281.889114 0 1.2284058l-16.19956845 15.6370692c-.16857676.1623975-.39705817.2536153-.63532682.2536153z" transform="matrix(-1 0 0 1 18.834 .552)"/%3E%3C/svg%3E%0A');
		/* stylelint-enable */
		margin-left: 0;
	}

	.wp-block-query-pagination-next {
		/* stylelint-disable */
		content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="19" height="34" viewBox="0 0 19 34"%3E%3Cpath fill="%23f34133" d="m.90160863 33c-.49703989.0008943-.90067913-.3874262-.90160863-.8672073-.00042047-.2312984.094752-.4532307.2644256-.6166055l15.5642416-15.0219297-15.5642416-15.02201115c-.34533767-.34507428-.33538169-.89505932.02210566-1.2284058.34879696-.32512073.90169161-.32512073 1.25040419 0l16.19956845 15.63706915c.3513281.3392104.3513281.889114 0 1.2284058l-16.19956845 15.6370692c-.16857676.1623975-.39705817.2536153-.63532682.2536153z" transform="translate(.834 .552)"/%3E%3C/svg%3E%0A');
		/* stylelint-enable */
		margin-right: 0;
	}
}
