.wp-block-media-text {

	[data-align="full"] & {
		@include media(laptop) {
			margin-top: calc(2.5 * var(--goldencat--spacing-vertical));
			margin-bottom: calc(2.5 * var(--goldencat--spacing-vertical));
		}
	}


	.wp-block-media-text__content {
		padding: var(--goldencat--spacing-horizontal);

		@include media(desktop) {
			padding-left: calc(3 * var(--goldencat--spacing-horizontal));
			padding-right: calc(3 * var(--goldencat--spacing-horizontal));
		}
	}

	[data-align="full"] & .wp-block-media-text__content {

		@include media(laptop) {
			width: calc(0.5 * var(--responsive--alignwide-width));
		}

		@include media(desktop) {
			padding: var(--goldencat--spacing-vertical) calc(2 * var(--goldencat--spacing-vertical));
		}
	}

	@include media(laptop) {

		[data-align="full"] &.has-media-on-the-right .wp-block-media-text__content {
			margin-left: auto;
			padding-left: 0;
		}

		[data-align="full"] &:not(.has-media-on-the-right) .wp-block-media-text__content {
			padding-right: 0;
			margin-right: auto;
		}
	}

	// Block Styles

}
