
.header-layout {

	&.header-layout-style-left-logo {
		display: flex;
		position: relative;
		justify-content: center;

		@include media(tablet) {
			justify-content: space-between;
			align-items: center;
		}

		.primary-navigation {

			@include media(tablet) {
				flex-grow: 1;
			}
		}
	}
}
