
.header-layout {

	&.header-layout-style-left-logo {
		display: flex;
		position: relative;
		justify-content: center;

		@include media(tablet) {
			justify-content: space-between;
			align-items: center;
		}

		.menu-button-container {

			&.menu-button-right {
				right: 0;
				left: auto;
			}

			&.menu-button-left {
				right: auto;
				left: 0;

				@include media(tablet) {
					right: 0;
					left: auto;
				}
			}
		}

		.site-branding {
			flex-shrink: 0;
		}

		.primary-navigation {

			@include media(tablet) {
				flex-grow: 1;
			}
		}
	}

	&.header-layout-style-central-logo-multiline {
		padding-top: 9px;

		.header-contact-bar-area {
			display: none;

			@include media(tablet) {
				display: flex;
				align-items: flex-start;
				left: 0;
				right: auto;
			}
		}

		.header-multiline-line__top {
			position: relative;
		}

		.menu-button-container {
			top: 0;

			@include media(tablet) {
				position: absolute;
			}
		}

		.menu-button-right {

			@include media(tablet) {
				display: none;
			}
		}

		.menu-button-wc {
			right: auto;
			left: 0;

			@include media(tablet) {
				right: 0;
				left: auto;
			}
		}

		.primary-navigation {

			@include media(tablet) {
				flex-grow: 1;
			}

			.menu-wrapper {

				@include media(tablet) {
					justify-content: center;
				}
			}
		}
	}

	&.header-layout-style-logo-left-menu-central {
		display: flex;
		position: relative;
		justify-content: center;

		@include media(tablet) {
			justify-content: space-between;
			align-items: center;
		}

		.primary-navigation {

			@include media(tablet) {
				flex-grow: 1;
			}

			.menu-wrapper {

				@include media(tablet) {
					justify-content: center;
				}
			}
		}
	}

	&.header-layout.header-layout-style-central-logo {

		position: relative;

		> .site-branding {

			@include media(tablet) {
				display: none;
			}
		}

		.primary-navigation {

			.site-branding {
				display: none;

				@include media(tablet) {
					display: block;
				}
			}
		}

		.menu-button-container {
			position: absolute;
			top: 0;

			&.menu-button-right {
				@include media(tablet) {
					left: 30px;
					right: auto;
				}

				@include mediapx( 920px ) {
					left: auto;
					right: 0;
				}
			}
		}

		.primary-menu-container {

			@include media(tablet) {
				display: flex;

				.primary-menu-ul {
					height: 100%;

					> ul {
						height: 100%;
						align-items: center;

						@include mediapx( 920px ) {
							justify-content: space-evenly;
						}
					}
				}
			}

			.header-left-part {

				@include mediapx( 920px ) {
					padding-left: 100px;
				}
			}

			.header-right-part {

				@include media(tablet) {
					display: flex;
					justify-content: flex-start;

				}

				@include mediapx( 920px ) {
					justify-content: space-evenly;
					padding-right: 100px;
				}

				.primary-menu-ul {
					flex-grow: 1;
				}
			}

			.header-left-part,
			.header-right-part {
				@include media(tablet) {
					flex-grow: 1;
					width: calc(0.5 * calc(100% - 110px));
				}

				@include media(laptop) {
					width: calc(0.5 * calc(100% - 147px));
				}
			}
		}
	}
}
