.primary-navigation {

	button,
	.button,
	a {
		font-family: var(--wp--custom--menu--font-family);
		font-size: var(--wp--custom--menu--font-size);
		font-weight: var(--wp--custom--menu--font-weight);
		text-decoration: none;
		// text-transform: uppercase;
		position: relative;
		text-align: center;
		line-height: 34px;
		color: var(--primary-nav--color-link);


		svg {
			fill: var(--primary-nav--color-link);
		}
	}

	.site-logo a {
		padding: 0;

		@include media(tablet) {
			padding: 0 calc(1 * var(--global--spacing-horizontal));
		}

		@include media(desktop) {
			padding: 0 calc(1.5 * var(--global--spacing-horizontal));
		}
	}

	.menu-item a {
		font-family: var(--wp--custom--menu--font-family);
		font-size: var(--wp--custom--menu--font-size);
		font-weight: var(--wp--custom--menu--font-weight);

		@include media(tablet) {
			margin: 0 var(--goldencat--spacing-unit);
			padding: var(--goldencat--spacing-unit);
		}


		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background: var(--wp--style--color--link, var(--goldencat--color-primary));
			top: 90%;
			left: 0;
			pointer-events: none;
			transform-origin: 100% 50%;
			transform: scale3d(0, 1, 1);
			transition: transform 0.3s, opacity, 0.3s;
		}

		&:hover::before {
			transform-origin: 0% 50%;
			transform: scale3d(1, 1, 1);
		}

		&:focus {
			position: relative;
			z-index: 99999; // Ensure focus styles appear above absolute positioned elements
		}
	}

	// Style Menu On page
	.current-menu-item:not(.menu-item-type-custom) > a:first-child,
	.current_page_item:not(.menu-item-type-custom) > a:first-child {

		&::before {
			transform-origin: 0% 50%;
			transform: scale3d(1, 1, 1);
		}

		&:hover::before {
			opacity: 0.4;
		}
	}

	// Sub-menu depth indicators + text styles
	.sub-menu {
		// margin-left: $primary-nav--padding;
		// border: 1px solid $primary-nav--border-color;

		.sub-menu {
			border: none;
		}

		// Sub-menu items om wide screens.
		@include media(mobile) {

			// For nested sub-menus, don't duplicate the padding
			> .menu-item > .sub-menu {
				padding: 0;
			}
		}

		.menu-item {

			@include media(mobile-only) {

				&:last-child() {
					margin-bottom: 0;
				}

			}

			> a {
				padding: 0 var(--primary-nav--padding);
				line-height: 30px;
				display: block;
				font-size: 12px;

			}
		}
	}

	.menu-item-has-children {
		// height: 100%;
		align-self: center;
	}
}
