// Front Style
.wp-block-goldencat-faq-block-grid {

	.faq-block-grid {
		display: flex;
		flex-wrap: wrap;

		> * {
			flex-grow: 1;
			margin-top: 0;
			margin-bottom: 0;
		}

		// > *:not(:only-child) {
		// 	flex-basis: calc(50% - 1em) !important;
		// 	flex-grow: 0;
		// }

		.faq-item-head {
			position: relative;
			cursor: pointer;
			margin-bottom: 0;
			padding-bottom: calc(1 * var(--wp--custom--spacing--vertical));
			padding-right: 30px;

			&::after {
				content: "";
				display: inline-block;
				width: 27px;
				height: 26px;
				padding-top: 6px;
				// background-image: url(../../img/icons/caret-down.svg);
				background-repeat: no-repeat;
				background-position: 75%;
				transition: transform .2s ease-in-out;
				will-change: transform;
				transform-origin: center 50%;
				position: absolute;
				right: 0;
				top: 0;
				pointer-events: none;
			}
		}

		.faq-item-content {
			margin-top: 0;
			overflow: hidden;
			max-height: 0;
			transition: max-height .25s ease-in-out;
			will-change: max-height;
			border-bottom: 1px solid #bcbcbc;
			margin-bottom: calc(1 * var(--wp--custom--spacing--vertical));


			p {
				margin-bottom: calc(1 * var(--wp--custom--spacing--vertical));
			}
		}


		.faq-block-item.active {

			.faq-item-content {
				max-height: 100vh;
				height: auto;
			}

			.faq-item-head {

				&::after {
					transform: rotate(180deg);
				}
			}
		}

	}

}

.goldencat-list-filter {

	margin: var(--wp--custom--spacing--vertical) auto;

	@include media(desktop) {
		margin: var(--wp--custom--spacing--vertical) auto;
	}

	input {
		visibility: hidden;
		display: none;
	}

	label {
		cursor: pointer;
	}

	li {
		display: inline-block;

		input[type="checkbox"] + label {
			@include theme-menu-style; 
			// padding: var(--form--spacing-unit);

			padding: 13px 11px 10px;
			margin-left: 7px;
			margin-right: 7px;
			margin-bottom: 14px;

			border: 1px solid var(--global--color-secondary);
			border-radius: 2px;
		}

		input[type="checkbox"]:not(:checked) + label {
			background-color: transparent !important;
		}

		input[type="checkbox"]:checked + label {
			// background-color: unset !important;
			color: var(--global--color-background);
			background-color: var(--global--color-secondary);

			// &:not(.has-background-color)::after {
			// 	background: var(--wp--preset--color--yellow-alt-2);
			// }
		}
	}
}
