// Buttons

.wp-element-button,
.wp-block-button__link {
	cursor: pointer;
	will-change: color, background-color;
	transition: color 0.25s ease, background-color 0.25s ease;

	strong {
		white-space: inherit;
	}


	&.has-black-real-background-color.has-background,
	&.has-black-background-color.has-background,
	&.has-white-color.has-text-color {

		&:hover {
			background-color: transparent !important;
			color: var(--wp--preset--color--black) !important;
		}
	}

	&.has-white-background-color.has-background-color {

		&:hover {
			background-color: var(--wp--preset--color--black) !important;
			color: var(--wp--preset--color--white) !important;
		}
	}

	.is-style-filled & {
		background-color: var(--wp--preset--color--black) !important;
		color: var(--wp--preset--color--white) !important;

		&:hover {
			background-color: transparent !important;
			color: var(--wp--preset--color--black) !important;
		}
	}

	.is-style-goldencat-button-arrow & {
		@include theme-button-arrow;
	}

	.is-style-goldencat-button-link & {
		font-size: 13px;
		color: var(--goldencat--color-primary);
		background-color: transparent;
		border: none;
		padding-left: 0;
		padding-right: 0;
		position: relative;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}


}

.wp-block-buttons > .wp-block-button.has-custom-width {

	@include media(tablet-only) {
		width: auto;
	}
}
