/**
 * Button
 */
.site .button,
input[type="submit"],
input[type="reset"],
.wp-block-search__button {

	@include theme-base-button();
}

/**
 * Block Options
 */
.wp-block-button {

	.wp-block-button__link {
		text-align: center;
		word-break: break-word;
		cursor: pointer;
		will-change: color, background-color;
		transition: color 0.25s ease, background-color 0.25s ease;
		box-sizing: border-box;
		box-shadow: none;

		&:focus,
		&:active,
		&:hover {
			background-color: transparent;
			// border: 1px solid var(--goldencat--color-background);
			color: var(--goldencat--color-primary);
		}
	}

	&.is-style-outline {

		.wp-block-button__link {
			background: transparent;
			color: currentColor;

			&:focus,
			&:active,
			&:hover {
				background-color: var(--goldencat--color-primary);
				// border: 1px solid var(--goldencat--color-background);
				color: var(--goldencat--color-background);
			}
		}
	}

	&.is-style-goldencat-button-arrow {

		.wp-block-button__link {
			@include theme-button-arrow;
		}
	}
}
