@import "00-shared/variables";
@import "00-shared/mixins";
@import "02-elements/typography";

#goldencat-cookie {
	background-color: var(--goldencat--color-black);
	color: var(--goldencat--color-white);
	position: fixed;
	min-width: 100%;
	height: auto;
	z-index: 100001;
	left: 0;
	text-align: left;
	bottom: 0;
	font-size: var(--goldencat--font-size-md);
	animation-name: slideIn;

	p {
		margin-bottom: 0;
		line-height: 1.4;
	}

	&.gc-block-animate {
		animation-duration: 0.7s;
		animation-fill-mode: both;
		// animation-play-state: paused;
		// animation-play-state: running;
	}

	&.cookie-hide {
		animation-name: slideOut;
	}

	// &.cookie-show {
	// }

	&.cookie-hidden {
		display: none;
	}

	.goldencat-cookie-content {
		padding-top: calc(0.5 * var(--goldencat--spacing-vertical));
		padding-bottom: calc(0.5 * var(--goldencat--spacing-vertical));
		display: flex;
		align-items: center;

		@include media(tablet) {
			display: flex;
			align-items: center;
		}
	}

	.goldencat-cookie-btn {
		flex: 1 0 auto;
		// @include theme-base-button();

		// background: transparent;
		// color: currentColor;
		// border: 1px solid var(--goldencat--color-white);
		font-size: var(--goldencat--font-size-xs);
		padding: calc(0.5 * var(--goldencat--button--padding-vertical)) calc(0.5 * var(--goldencat--button--padding-horizontal));
		margin-top: calc(0.5 * var(--goldencat--spacing-vertical));

		@include media(tablet) {
			margin-top: 0;
			margin-left: calc(0.5 * var(--goldencat--button--padding-horizontal));
		}

		&:hover {
			background: var(--goldencat--color-white);
			color: var(--goldencat--color-black);
			border: 1px solid var(--goldencat--color-black);
		}
	}
}


@keyframes slideOut {

	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		visibility: hidden;
		transform: translate3d(0, 100%, 0);
	}
}
@keyframes slideIn {

	from {
		transform: translate3d(0, 100%, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}
