#goldencat-wc-main {

	.woocommerce-products-header {
		text-align: center;
		margin-bottom: var(--wp--preset--spacing--50);
	}

	> * {

		&:first-child {
			margin-top: calc(0.666 * var(--goldencat--spacing-vertical));

			@include media(mobile) {
				margin-top: var(--wp--preset--spacing--50);
			}
		}
	}
}


/**
 * Products
 */

ul.products {
	list-style: none;
	padding: 0;
}

$product_gap: 40;

ul.products,
.wc-block-grid__products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: var(--wp--style--block-gap);

	// @include media(tablet) {
	// 	// gap: #{$product_gap}px;
	// 	margin-left: -#{$product_gap / 2}px;
	// 	margin-right: -#{$product_gap / 2}px;
	// }

	li.product,
	.wc-block-grid__product {
		font-size: inherit;
		position: relative;
		flex: 1 0 calc(50% - var(--wp--style--block-gap));

		display: flex;
		flex-direction: column;
		margin-bottom: calc(2 * var(--wp--style--block-gap));

		@include media(tablet) {
			flex: 0 0 calc(33.33333% - 24px);
			// margin-left: #{$product_gap / 2}px;
			// margin-right: #{$product_gap / 2}px;
		}

		.woocommerce-shop & {

			@include media(tablet) {
				margin-bottom: calc(1.2 * var(--wp--style--block-gap));
			}
		}

		.star-rating {
			margin: 0 auto calc(3 * var(--goldencat--spacing-vertical));
		}

		.wc-block-grid__product-link,
		.woocommerce-loop-product__link {
			text-decoration: none;
		}

		.price,
		.wc-block-grid__product-price {
			font-family: var(--wp--preset--font-family--primary);
			line-height: 18px;
			font-size: var(--wp--preset--font-size--sous-icons);
			font-weight: 400;

			.woocommerce-Price-amount {
				text-transform: uppercase;
			}
		}

		.woocommerce-loop-product__title {
			margin-top: 0;
			margin-bottom: calc(0.5 * var(--wp--style--block-gap));

			@include media(laptop) {
				margin-bottom: 2px; //calc(0.33 * var(--wp--style--block-gap));
			}
		}

		&.comingsoon .woocommerce-loop-product__img-wrapper {
			position: unset;

			&::before {
				content: "Bientôt disponible";
				position: absolute;
				inset: 0;
				width: 100%;
				// transform: rotate(180deg);
				background: rgba(231, 195, 176, 0.9);
				// background: rgba(231, 195, 176, 0.6);
				// @include top-circular-radius;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 800;
				// font-size: 18px;
				// color: var(--goldencat--color-white);
				// letter-spacing: 0;
				text-align: center;
				// line-height: 24px;

				font-family: var(--wp--preset--font-family--secondary);
				font-size: 27px;
				color: var(--wp--preset--color--saumon);
			}
		}

		.woocommerce-loop-product__img-wrapper {
			margin-bottom: calc(0.5 * var(--goldencat--spacing-vertical));
		}

	}
}

.hentry .entry-content {

	.wc-block-grid__products .wc-block-grid__product,
	ul.products li.product {

		> a {
			text-decoration: none;
		}
	}
}

.price {

	del {
		opacity: 0.5;
		font-weight: 400;

		+ ins {
			margin-left: 0.327em;
		}
	}
}

/* stylelint-disable */
.theme-twentytwenty .wc-block-grid.has-4-columns:not(.alignwide):not(.alignfull) .wc-block-grid__product, 
.theme-twentytwenty .wc-block-grid.has-5-columns.alignfull .wc-block-grid__product, 
.wc-block-grid.has-4-columns:not(.alignwide):not(.alignfull) .wc-block-grid__product, 
.wc-block-grid.has-5-columns.alignfull .wc-block-grid__product {
	font-size: inherit;
}
/* stylelint-enable */
