/**
 * Single Product
 */
.single-product {

	.pswp__button {
		background-color: transparent;
	}

	div.product {

		.product-top-wrapper {
			@include media(tablet) {
				display: flex;
				justify-content: center;
				margin-top: calc(1 * var(--goldencat--spacing-vertical));
			}
		}

		.product-image-wrapper {
			position: relative;

			// flex: 1 1 40%;
			@include media(tablet) {
				width: 50%;
			}
		}

		.summary {

			@include media(tablet) {
				width: 50%;
				padding-left: calc(1.2 * var(--goldencat--spacing-horizontal));
			}

			// > * {

			// 	max-width: var(--responsive--alignwide-width);
			// 	margin-left: auto;
			// 	margin-right: auto;
			// 	margin-top: calc(0.666 * var(--goldencat--spacing-vertical));
			// 	margin-bottom: calc(0.666 * var(--goldencat--spacing-vertical));

			// 	&:first-child {

			// 		@include media(tablet) {
			// 			margin-top: 0;
			// 		}
			// 	}
			// }
		}

		&.comingsoon .woocommerce-product-gallery__image {
			position: relative;

			&::before {
				content: "Bientôt disponible";
				position: absolute;
				inset: 0;
				width: 100%;
				// transform: rotate(180deg);
				background: rgba(231, 195, 176, 0.9);
				// background: rgba(231, 195, 176, 0.6);
				// @include top-circular-radius;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 800;
				// font-size: 18px;
				// color: var(--goldencat--color-white);
				// letter-spacing: 0;
				text-align: center;
				// line-height: 24px;

				font-family: var(--wp--preset--font-family--secondary);
				font-size: 27px;
				color: var(--wp--preset--color--saumon);
			}
		}


		.woocommerce-product-gallery {
			position: relative;

			&.woocommerce-product-gallery--with-images {

				@include media(tablet) {

					display: flex;

					.flex-viewport {
						flex: 1 1 80%;
					}
				}
			}

			.zoomImg {
				background-color: #fff;
			}

			.woocommerce-product-gallery__trigger {
				position: absolute;
				top: ms(-1);
				right: ms(-1);
				display: block;
				height: 2em;
				width: 2em;
				border-radius: 3px;
				z-index: 99;
				text-align: center;
			}

			img {
				max-width: unset !important;
				width: 100% !important;
				margin: 0;
			}


			.flex-control-thumbs {

				display: flex;
				flex-wrap: nowrap;
				margin: 0;
				padding: 0;
				overflow-x: scroll;


				@include media(tablet) {
					order: -1;

					flex: 0 1 20%;
					padding: 0;

					display: flex;
					flex-direction: column;
					justify-content: start;
					overflow: hidden;
				}

				li {

					flex: 0 0 20%;
					list-style: none;
					cursor: pointer;
					padding: 0;
					padding-left: calc(0.12 * var(--goldencat--spacing-horizontal));
					padding-right: calc(0.12 * var(--goldencat--spacing-horizontal));
					padding-top: calc(0.24 * var(--goldencat--spacing-horizontal));

					@include media(tablet) {
						flex: unset;
						padding: 0;
						padding-right: calc(0.5 * var(--goldencat--spacing-horizontal));
						padding-bottom: calc(0.5 * var(--goldencat--spacing-horizontal));
					}

					// &::before {
					// 	display: block;
					// 	content: "";
					// 	width: 16px;
					// 	height: 16px;
					// 	border-radius: 15px;
					// 	// background-color: var(--goldencat--color-primary);
					// 	position: absolute;
					// 	border: 1px solid var(--goldencat--color-primary);
					// }

					// img {
					// 	width: 16px;
					// 	height: 16px;
					// 	opacity: 0;
					// 	transition: all, ease, 0.2s;
					// 	border-radius: 15px;
					// 	overflow: hidden;

					// 	&.flex-active {
					// 		opacity: 1;
					// 		filter: brightness(0);
					// 	}
					// }

					// &:hover {

					// 	img {
					// 		opacity: 1;
					// 		filter: brightness(0);
					// 	}
					// }
				}
			}

		}

		.images {

			.woocommerce-main-image {
				display: block;
			}

			.thumbnails {

				a.zoom {
					display: block;
					width: 22.05%;
					margin-right: 3.8%;
					float: left;
					margin-bottom: 1em;

					@include media(tablet) {
						width: 25%;

					}

					&.last {
						margin-right: 0;

						// @include media(tablet) {
						// 	@include last;
						// }
					}

					&.first {
						clear: both;
					}
				}
			}
		}

		.goldencat-wc-product-header {

			@include media(tablet) {
				display: flex;
				justify-content: space-between;
				margin-bottom: var(--wp--style--block-gap);
			}
		}

		.product_title {
			font-size: var(--wp--preset--font-size--h-2);
			letter-spacing: 0;
			line-height: 50px;
			max-width: 554px;
			margin: 0;
		}

		.price {
			font-family: var(--wp--preset--font-family--primary);
			font-weight: 400;
			font-size: var(--wp--preset--font-size--h-3);
			line-height: 56px;
			letter-spacing: 0;
			margin: 0;

			@include media(tablet) {
				text-align: right;
				margin-left: 7px;
			}
		}

		&.product-type-simple {

			form.cart {
				display: flex;
				flex-wrap: wrap;
			}
		}

		form.cart {
			// table.woocommerce-grouped-product-list {

			// 	.woocommerce-grouped-product-list-item__label {

			// 		@include wrap-break-word();
			// 	}

			// 	.woocommerce-grouped-product-list-item__quantity {
			// 		float: none;
			// 		margin-right: 0;

			// 		.quantity {
			// 			margin-right: 0;
			// 		}
			// 	}
			// }

			// .wc-pao-addons-container {
			// 	flex: 1 0 100%;
			// 	width: 100%;
			// }
		}

		.woocommerce-product-details__short-description {

			> * {
				margin-top: calc(0.666 * var(--goldencat--spacing-vertical));
				margin-bottom: calc(0.666 * var(--goldencat--spacing-vertical));

				// @include media(mobile) {
				// 	margin-top: calc(0.8 * var(--goldencat--spacing-vertical));
				// 	margin-bottom: calc(0.8 * var(--goldencat--spacing-vertical));
				// }

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		table.variations {
			// margin: 0;
			margin-bottom: 0;

			@include media(tablet) {
				// margin-bottom: calc(1.1 * var(--goldencat--spacing-vertical));
			}

			th,
			td {
				border: none;
				padding: 0;
				list-style: none;
				background-color: transparent;
			}

			tr {
				display: flex;
				flex-direction: column;
			}

			td {
				@include media(tablet-only) {
					display: inline-block;
					width: 100%;
				}
			}

			.value {
				margin-bottom: 1em;
			}

			// select {
			// 	max-width: 70%;
			// 	vertical-align: middle;
			// }

			// label {
			// 	@extend %theme-menu-style;
			// }

			th.label {
				margin-bottom: 15px;

				label {
					font-family: var(--wp--preset--font-family--primary-book);
					font-size: var(--wp--preset--font-size--h-4);
					line-height: 26px;
					letter-spacing: 0;
					font-weight: normal;
				}
			}

			td.value {
				display: flex;
				flex-wrap: wrap;
				gap: 14px;

				@include media(tablet) {
					gap: var(--wp--style--block-gap);
				}

				// @include media(desktop) {
				// 	gap: 38px;
				// }
			}

			.value label {
				display: inline-block;
				padding: 10px 20px;
				flex: 0 0 25%;
				text-align: center;
				margin-bottom: 0;
				// margin-bottom: calc(0.45 * var(--goldencat--spacing-vertical));
				// transition: background-color 0.5 ease-in;

				@include media(tablet) {
					flex: 0 0 auto;
					min-width: calc(32% - var(--wp--style--block-gap));
				}

				@include media(wide) {
					min-width: 154px;
				}

				&.by-4-item {
					flex: 0 0 auto;
					min-width: calc(24% - var(--wp--style--block-gap));
				}

				&:last-child {
					margin-right: 0;
				}

				input {
					visibility: hidden;
					display: none;
				}

				// @include media(tablet-only) {
				// 	padding: 9px 12px;
				// 	font-size: 12px;
				// 	line-height: 16px;
				// }

				&.selected {
					background-color: var(--wp--preset--color--black);
					color: var(--wp--preset--color--white);
				}

			}
		}

		.wc-pao-addons-container {
			margin-top: calc(1 * var(--wp--preset--spacing--30));
			margin-bottom: 0;
		}

		.wc-pao-addon {

			&:last-child {
				margin-bottom: 0;
			}
		}

		#product-addons-total {
			display: none;
		}

		// 	.wc-pao-addon-wrap {

		// 		label {
		// 			// display: block;
		// 		}

		// 		.wc-pao-addon-checkbox {
		// 			vertical-align: middle;
		// 		}
		// 	}
		// }

		// .wc-pao-addon {
		// 	padding: 0;
		// }

		// .wc-pao-addons-container {
		// 	position: relative;
		// }

		// .wc-pao-addon-name {
		// 	@extend %theme-menu-style;

		// 	margin-bottom: calc(0.8 * var(--goldencat--spacing-vertical));
		// 	width: 100%;
		// }

		// .wc-pao-addon-wrap.ecrannoir-radio-button {
		// 	display: inline-block;

		// 	label {
		// 		@extend %theme-menu-style;
		// 		position: relative;
		// 		z-index: 1;
		// 		padding: 16px 18px;
		// 		// border: 1px solid var(--goldencat--color-secondary);
		// 		display: inline-block;
		// 		max-width: 140px;
		// 		text-align: center;
		// 		margin-right: 14px;
		// 		margin-bottom: calc(0.45 * var(--goldencat--spacing-vertical));

		// 		// input {
		// 		// 	visibility: hidden;
		// 		// 	display: none;
		// 		// }

		// 		// @include media(tablet-only) {
		// 		// 	font-size: 12px;
		// 		// 	line-height: 16px;
		// 		// }
		// 	}
		// }

		// .wc-pao-addon-notes {

		// 	label {
		// 		margin-bottom: calc(0.4 * var(--goldencat--spacing-vertical));
		// 	}

		// 	textarea {
		// 		padding: 1em;
		// 		border: var(--form--border-width) solid var(--goldencat--color-secondary);
		// 	}
		// }

		// input.wc-pao-addon-field.wc-pao-addon-checkbox,
		// input.wc-pao-addon-field.wc-pao-addon-radio {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	border-radius: 0;
		// 	z-index: -1;

		// 	&:after {
		// 		left: 0;
		// 		top: 0;
		// 		position: absolute;
		// 		width: 100%;
		// 		height: 100%;
		// 		border-radius: 0;
		// 		background: var(--goldencat--color-secondary);
		// 		transform: none;
		// 		border: none;
		// 	}
		// }

		.wc-pao-addon-message-check + .wc-pao-addon-message {
			margin-top: 0;
			overflow: hidden;
			max-height: 0;
			transition: max-height .335s ease-in-out;
			will-change: max-height;

			&.active {
				max-height: 100vh;
				height: auto;
			}

			textarea {
				padding-top: 0;
			}

			.wc-pao-addon-wrap {
				margin-top: 0;
			}
		}

		.variations_form.cart {
			margin-top: var(--wp--style--block-gap);
		}

		.single_variation {

			.price {
				margin-bottom: 1em;
				display: block;
			}
		}

		.variations_button {

			@include clearfix;
			// padding-top: 1em;
		}

		.woocommerce-product-rating {

			@include clearfix;

			a {

				@include underlined-link();
			}

			.star-rating {
				float: left;
			}
		}

		.product_meta {
			border-top: 1px solid var(--goldencat--color-border);

			.sku_wrapper,
			.posted_in,
			.tagged_as {
				display: block;

				&:last-child {
					border-bottom: 0;
				}
			}

			a {

				@include underlined-link();
			}
		}
	}
}

.stock {

	&:empty::before {
		display: none;
	}

	&.in-stock {
		color: var(--wp--preset--color--green);
	}

	&.out-of-stock {
		color: var(--wp--preset--color--red);
	}
}

a.reset_variations {
	display: inline-block;
	margin-left: 1em;
}

.single-product div.product.has-subscription-plans form.cart {

	.woocommerce-variation-add-to-cart {
		flex-wrap: wrap;
		padding-top: 0;
	}
}


.wcsatt-options-wrapper {
	flex: 1 0 100%;
	margin-top: 0;
}

.wcsatt-options-prompt-text {
	margin: 0;
	margin-bottom: calc(1 * var(--goldencat--spacing-vertical)) !important;

}

// .wcsatt-options-prompt-text-label {
// 	@extend %theme-title-style;
// 	@extend %theme-title-h3;
// }

.wcsatt-options-prompt-radios {
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.wcsatt-options-prompt-radio {
	margin: 0;
	flex: 1 1 auto;
	padding: 0;
	margin-right: 14px;

	// @include media(tablet) {
	// 	margin-right: 34px;
	// }

	.wcsatt-options-prompt-label {
		padding: 0;
		margin: 0;

		input {
			visibility: hidden;
			display: none;
		}

		// @include media(tablet-only) {
		// 	padding: 9px 12px;
		// 	font-size: 12px;
		// 	line-height: 16px;
		// }

		// &.selected {
		// 	background-color: var(--wp--preset--color--white-accent);
		// }
	}

	&:last-child {
		margin-right: 0;
	}

	input[type="radio"] {
		position: relative;
		visibility: hidden;
		margin: 0;
		padding: 0;
	}

	span.wcsatt-options-prompt-action {
		flex-grow: 1;
		padding: calc(0.5 * var(--goldencat--spacing-vertical)) calc(1.1 * var(--goldencat--spacing-horizontal));
		border: 3px solid var(--wp--preset--color--white-accent);
		background-color: var(--goldencat--color-background);
		font-family: var(--wp--preset--font-family--secondary);
		font-size: 20px;
		letter-spacing: 0;
		display: block;
		// max-width: 140px;
		text-align: center;
		margin-right: 0;
		margin-bottom: calc(0.45 * var(--goldencat--spacing-vertical));
		// transition: background-color 0.5 ease-in;

		@include media(tablet-only) {
			padding: 9px 12px;
			font-size: 12px;
			line-height: 16px;
		}
	}

	label:hover span,
	label:focus span,
	input[type="radio"]:focus + span,
	input[type="radio"]:checked + span {
		background-color: var(--wp--preset--color--white-accent);
	}
}
