.widget_shopping_cart {

	display: none;
	right: calc(-1 * calc(var(--goldencat--spacing-horizontal) + 9px));
	padding-top: 20px;

	opacity: 0;
	transform: translate3d(0, 10%, 0) scale(1, 1);
	transition: transform 0.4s, opacity 0.3s;
	will-change: transform;

	@include media(tablet) {

		position: absolute;
		z-index: 101;
		display: block;
		pointer-events: none;
		min-width: 400px;
		max-width: 500px;
	}


	.widget_shopping_cart_content {
		position: relative;
		background-color: var(--wp--preset--color--white);
		border: var(--goldencar--woo--table--border);
		padding: calc(1 * var(--goldencat--spacing-vertical)) calc(1 * var(--goldencat--spacing-horizontal));
		box-shadow: var(--goldencat--shadow-elevation--high);

		> * {
			padding-bottom: calc(0.6 * var(--goldencat--spacing-vertical));
		}

		> h4 {
			padding-bottom: calc(1 * var(--goldencat--spacing-vertical));
		}

		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 0;
			top: -14px;
			right: var(--goldencat--spacing-horizontal);
			border-style: solid;
			border-color: #d8d8d8 transparent;
			border-width: 0 20px 14px 20px;
		}

		&:after {
			top: -13px;
			border-color: var(--goldencat--color-background) transparent;
		}
	}

	.product_list_widget {
		padding: 0;
		max-height: 60vh;
		overflow: scroll;
	}

	p.total,
	p.buttons {
		text-align: center;
	}

	// p.total {
	// 	border-bottom: 1px solid var(--goldencat--color-border);
	// }

	.buttons {

		a {
			// background: var(--button--color-background-active);
			// color: var(--button--color-background);
			// border-color: var(--button--color-background-active);
			display: block;
			// 		margin-bottom: ms(-2);

			// 		&:last-child {
			// 			margin-bottom: 0;
			// 		}

			// 		img {
			// 			margin-left: auto;
			// 			margin-right: auto;
			// 		}
		}
	}
}

.site-header-cart {

	&.hover-cart,
	&:hover,
	&:focus {

		.widget_shopping_cart {
			pointer-events: all;
			opacity: 1;
			transform: translate3d(0%, 0, 0) scale(1, 1);
		}
	}
}

.woocommerce-mini-cart-item {
	display: flex;
	align-items: center;
	border-bottom: var(--goldencar--woo--table--border);
	padding-bottom: calc(0.5 * var(--goldencat--spacing-vertical));
	margin-bottom: calc(0.5 * var(--goldencat--spacing-vertical));
	flex-wrap: wrap;
	// white-space: nowrap;
	// a {
	// 	font-weight: 500;
	// }

	h5 {
		@include theme-menu-style;

		margin-bottom: calc(0.3 * var(--goldencat--spacing-vertical));
	}

	> * {
		display: inline-block;
		padding: 0 calc(0.5 * var(--goldencat--spacing-horizontal)) 0 0;
	}

	> *.variation {
		display: block;
		order: 4;
		flex: 1 0 100%;
		width: 100%;
	}

	a:not(.remove) {
		display: flex;
		align-items: center;

		flex: 1 1 60%;

		img {
			max-width: 100px;
			padding: 0 calc(0.5 * var(--goldencat--spacing-horizontal)) 0 0;
		}
	}

	.cart-item-thumbnail {

		padding: 0 calc(0.5 * var(--goldencat--spacing-horizontal)) 0 0;

		img {
			width: auto;
			max-width: 100px;
		}
	}

	.quantity {
		// flex-shrink: 0;
		flex: 1 0 30%;

		> * {
			display: inline;
		}
	}

	.cart-item-main-wrapper {
		display: flex;
	}

	.remove_from_cart_button {

		order: 3;
		flex: 0 1 5%;

		a {
			font-size: 21px;
			font-weight: 300;
			text-decoration: none;
		}
	}
}
