h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	clear: both;
	line-height: 1;

	> img {
		margin: 0 auto;
		max-width: 40px !important;

		@include media(tablet) {
			margin: 0;
			display: inline-block;
			padding: 0 var(--goldencat--spacing-vertical);
			max-width: 100% !important;
		}

	}
}

.h1,
.wp-block.editor-post-title__block .editor-post-title__input {
	font-size: var(--heading--font-size-h1);
	font-weight: 400;
	letter-spacing: 2.63px;
	line-height: 1;

	@include media(tablet) {
		line-height: 117px;
	}
}

.h2 {
	font-size: var(--heading--font-size-h2);
}

.h3 {
	font-size: var(--heading--font-size-h3);
	letter-spacing: 0;
}

.h4 {
	font-size: var(--heading--font-size-h4);
	letter-spacing: 0;
}

.h5 {
	font-size: var(--heading--font-size-h5);
	letter-spacing: 0;
}

.h6 {
	font-size: var(--heading--font-size-h6);
	letter-spacing: 0;
}
