.wp-block-group {

	> .wp-block-group {

		@include media(tablet-only) {
			margin-bottom: 0;
		}
	}

	&.has-background.alignfull {
		padding: calc(1 * var(--goldencat--spacing-vertical));

		@include media(mobile) {
			padding: calc(2 * var(--goldencat--spacing-vertical)) calc(1 * var(--goldencat--spacing-vertical));
		}
	}

	&.has-background:not(.alignfull) {
		padding: calc(0.666 * var(--goldencat--spacing-vertical));

		@include media(mobile) {
			padding: calc(0.7 * var(--goldencat--spacing-vertical));
		}
	}

	// Block Styles

}
