$default-grid-gutter: 2%;

.goldencat-grid {

	@include media(tablet) {
		@include grid($gutter: $default-grid-gutter, $flex-wrap: wrap);

		> .goldencat-grid__col {
			@include grid-col($col: 12, $gutter: 2%);
			overflow: hidden;

			@include mediapx(600px) {
				@include grid-col($col: 6, $gutter: 2%);
				overflow: hidden;
			}

			@include mediapx(980px) {
				@include grid-col($col: 4, $gutter: 2%);
			}
		}
	}

	@for $i from 1 through 12 {

		@include media(tablet) {
			> .goldencat-grid__col-#{$i} {
				@include grid-col($col: $i, $gutter: 2em);
			}
		}
	}
}
