

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
.site textarea {
	@extend %theme-input-text-and-placeholder-style;
	width: 100%;
	border: none;
	border-bottom: var(--goldencat--form--border-width) solid var(--goldencat--form--border-color);
	border-radius: var(--goldencat--form--border-radius);
	background-color: transparent;

	padding: calc(0.7 * var(--goldencat--spacing-vertical)) 0 calc(0.3 * var(--goldencat--spacing-vertical));
	// // Gives a little more space for the outline offset.
	max-width: 100%;

	&:focus {
		color: var(--goldencat--form--color-text);
		// outline: none;
		border-bottom-color: var(--goldencat--form--color-text);
		border-bottom-width: 2px;
		padding-bottom: calc(calc(0.3 * var(--goldencat--spacing-vertical)) - 1px);
		outline: none;
	}

	&:disabled {
		opacity: 0.7;
	}

	.wpcf7 & {
		width: 100%;
	}
}

// Reset the negative offset from normalize to make the thicker "border" work on focus.
input[type="search"] {

	&:focus {
		outline-offset: -7px;
	}
}

// input[type="color"] {
// 	padding: calc(var(--goldencat--form--spacing-unit) / 2);
// 	height: calc(4 * var(--goldencat--form--spacing-unit));
// }

input[type="email"],
input[type="url"] {

	/*rtl:ignore*/
	direction: ltr;
}

select {
	width: 100%;
	border: none;
	border-bottom: var(--goldencat--form--border-width) solid var(--goldencat--form--border-color);
	color: var(--goldencat--form--color-text);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	// padding: var(--goldencat--form--spacing-unit) calc(3 * var(--goldencat--form--spacing-unit)) var(--goldencat--form--spacing-unit) var(--goldencat--form--spacing-unit);
	padding: calc(0.7 * var(--goldencat--spacing-vertical)) 0 calc(0.3 * var(--goldencat--spacing-vertical));
	background: var(--wp--preset--color--white) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2328303d'><polygon points='0,0 10,0 5,5'/></svg>") no-repeat; // stylelint-disable-line function-url-quotes
	background-position: right var(--goldencat--form--spacing-unit) top 60%;
	margin-bottom: calc(0.7 * var(--goldencat--spacing-vertical));

	&:focus {
		outline: none;
		padding-bottom: calc(calc(0.3 * var(--goldencat--spacing-vertical)) - 1px);
		border-bottom: 2px solid var(--goldencat--form--border-color);
	}
}

.select2-container {

	.select2-selection--single {
		margin: calc(2.5 * var(--goldencat--form--spacing-unit)) 0 0;
		border: none;
		border-bottom: var(--goldencat--form--border-width) solid var(--goldencat--form--border-color);
		color: var(--goldencat--form--color-text);
		border-radius: 0;

		.select2-selection__rendered {
			color: var(--goldencat--form--color-text);
			padding-left: 0;
		}

		.select2-selection__arrow {
			margin: calc(2.5 * var(--goldencat--form--spacing-unit)) 0 0;
		}
	}
}

.site textarea {
	width: 100%;
	border: var(--goldencat--form--border-width) solid var(--goldencat--form--border-color);
	padding: calc(0.7 * var(--goldencat--spacing-vertical)) calc(0.7 * var(--goldencat--spacing-vertical)) calc(0.3 * var(--goldencat--spacing-vertical));
}

label {
	margin-bottom: calc(var(--goldencat--spacing-vertical) / 3);
}

/**
https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/
https://codepen.io/aaroniker/pen/ZEYoxEY by Aaron Iker.
License: MIT.
*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

	input[type="checkbox"],
	input[type="radio"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		position: relative;
		width: 15px;
		height: 15px;
		padding-left: 16px;
		display: inline;
		// border: var(--goldencat--form--border-width) solid var(--goldencat--form--border-color);
		background: var(--wp--preset--color--white);

		&:disabled {
			opacity: 0.7;
		}
	}

	input[type="checkbox"] {

		// &:focus {
		// 	outline-offset: 2px;
		// 	outline: 2px dotted var(--form--border-color);
		// }

		&::before {
			left: 0;
			top: 0;
			content: "";
			position: absolute;
			width: 15px;
			height: 15px;
			border: var(--goldencat--form--border-width) solid var(--goldencat--form--border-color);
			background: var(--wp--preset--color--white);
		}

		&:after {
			content: "";
			opacity: 0;
			display: block;
			left: 5px;
			top: 2px;
			position: absolute;
			width: 5px;
			height: 10px;
			border: 2px solid var(--goldencat--form--color-text);
			border-top: 0;
			border-left: 0;
			transform: rotate(30deg);
		}

		&:checked {
			color: var(--goldencat--form--color-text);

			&:after {
				opacity: 1;
			}
		}
	}

	input[type="radio"] {
		border-radius: 50%;

		// &:focus {
		// 	outline-offset: 2px;
		// 	outline: 2px dotted var(--form--border-color);
		// }

		&::before {
			left: 0;
			top: 0;
			content: "";
			position: absolute;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			border: var(--goldencat--form--border-width) solid var(--goldencat--form--border-color);
			background: var(--wp--preset--color--white);
		}

		&:after {
			content: "";
			opacity: 0;
			display: block;
			left: 3px;
			top: 3px;
			position: absolute;
			width: 9px;
			height: 9px;
			border-radius: 50%;
			background: var(--goldencat--color-primary);
		}

		&:checked {

			&:after {
				opacity: 1;
			}

			// // Focus style for checked radio buttons.
			// &:focus {
			// 	outline-offset: 4px;
			// 	outline: 2px dotted var(--form--border-color);
			// }
		}
	}
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	display: inline-block;
	padding-left: 10px;
	font-size: var(--goldencat--font-size-xs);
	vertical-align: top;
}

/**
 * https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

	input[type="range"] {
		-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
		width: 100%; /* Specific width is required for Firefox. */
		height: 6px;
		background: var(--form--color-ranged);
		border-radius: 6px;
		outline-offset: 10px;

		&:disabled {
			opacity: 0.7;
		}
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: 3px solid var(--form--color-ranged);
		height: 44px;
		width: 44px;
		border-radius: 50%;
		background: var(--goldencat--color-background);
		cursor: pointer;
	}

	input[type="range"]::-moz-range-thumb {
		border: 3px solid var(--form--color-ranged);
		height: 44px;
		width: 44px;
		border-radius: 50%;
		background: var(--goldencat--color-background);
		cursor: pointer;
		box-sizing: border-box;
	}
}

input[type="range"]::-ms-track {
	width: 100%;
	height: 6px;
	border-radius: 6px;
	border-width: 19px 0;
	border-color: var(--goldencat--color-background);
	background: transparent;
	color: transparent;
	cursor: pointer;
}

input[type="range"]::-ms-fill-upper {
	background: var(--form--color-ranged);
	border-radius: 6px;
}

input[type="range"]::-ms-fill-lower {
	background: var(--form--color-ranged);
	border-radius: 6px;
}

input[type="range"]::-ms-thumb {
	border: 3px solid var(--form--color-ranged);
	height: 44px;
	width: 44px;
	border-radius: 50%;
	background: var(--goldencat--color-background);
	cursor: pointer;
}

fieldset {
	display: grid;
	border-color: var(--goldencat--color-secondary);
	padding: var(--goldencat--spacing-horizontal);

	legend {
		font-size: var(--goldencat--font-size-md);
	}

	input {

		&[type="submit"] {
			max-width: max-content;
		}

		&:not([type="submit"]) {
			margin-bottom: var(--goldencat--spacing-unit);
		}

		&[type="radio"],
		&[type="checkbox"] {
			margin-bottom: 0;
		}

		&[type="radio"] + label,
		&[type="checkbox"] + label {
			padding-left: 0;
			margin-bottom: var(--goldencat--spacing-unit);
		}
	}
}

::-moz-placeholder { // Firefox 19+
	opacity: 1;
}

.post-password-message {
	font-size: var(--goldencat--font-size-md);
}

.post-password-form {
	display: flex;
	flex-wrap: wrap;

	&__label {
		width: 100%;
		margin-bottom: 0;
	}

	input[type="password"] {
		flex-grow: 1;
		margin-top: calc(var(--goldencat--spacing-vertical) / 3);
		margin-right: calc(0.66 * var(--goldencat--spacing-horizontal));
	}

	&__submit {
		margin-top: calc(var(--goldencat--spacing-vertical) / 3);
		@include media(tablet) {
			margin-left: calc(0.4 * var(--goldencat--spacing-horizontal));
		}
	}
}

.grecaptcha-badge {
	visibility: hidden;
}

