

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="file"],
.site textarea {
	font-family: var(--wp--custom--input--typography--font-family);
	font-weight: var(--wp--custom--input--typography--font-weight);
	font-size: var(--wp--custom--input--typography--font-size);
	line-height: var(--wp--custom--input--typography--line-height);
	letter-spacing: 0;
	border: none;
	border: var(--wp--custom--input--border--width) var(--wp--custom--input--border--style) var(--wp--custom--input--border--color);
	border-radius: var(--wp--custom--input--border--radius);
	color: var(--wp--custom--input--color--text);
	background-color: var(--wp--custom--input--color--background);
	padding: calc(0.5 * var(--wp--custom--spacing--vertical)) calc(1 * var(--wp--custom--spacing--vertical)) calc(0.5 * var(--wp--custom--spacing--vertical));
	max-width: 100%;
	width: 100%;

	&::placeholder {
		font-weight: var(--wp--custom--input--typography--font-weight);
		color: var(--wp--custom--input--color--text);
	}

	&:focus {
		color: var(--wp--custom--input--color--text);
		outline: none;
		border-bottom-color: var(--wp--custom--input--border--color);
		border-bottom-width: 2px;
		padding-bottom: calc(calc(0.5 * var(--wp--custom--spacing--vertical)) - 1px);
	}

	&:disabled {
		opacity: 0.7;
	}

	.wpcf7 & {
		width: 100%;
	}
}

.custom-file-upload.wp-element-button {

	br {
		display: none;
	}

	input[type="file"] {
		display: none;
	}
}

input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"] {
	padding-inline-start: 0;
}

// Reset the negative offset from normalize to make the thicker "border" work on focus.
input[type="search"] {

	&:focus {
		outline-offset: -7px;
	}
}

input[type="email"],
input[type="url"] {

	/*rtl:ignore*/
	direction: ltr;
}

select {
	width: 100%;
	border: none;
	border-bottom: var(--wp--custom--input--border--width) var(--wp--custom--input--border--style) var(--wp--custom--input--border--color);
	color: var(--wp--custom--input--color--text);
	appearance: none;
	padding: calc(0.5 * var(--wp--custom--spacing--vertical)) calc(1 * var(--wp--custom--spacing--vertical)) calc(0.5 * var(--wp--custom--spacing--vertical)) 0;

	background: var(--wp--custom--input--color--background) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2328303d'><polygon points='0,0 10,0 5,5'/></svg>") no-repeat; // stylelint-disable-line function-url-quotes
	background-position: right calc(2 * var(--wp--preset--spacing--25)) top 60%;

	&:focus {
		outline: none;
		padding-bottom: calc(calc(0.5 * var(--wp--custom--spacing--vertical)) - 1px);
		border-bottom: 2px var(--wp--custom--input--border--style) var(--wp--custom--input--border--color);
	}
}

.select2-container {

	.select2-selection--single {
		// margin: calc(3 * var(--wp--preset--spacing--20)) 0;
		border: none;
		color: var(--wp--custom--input--color--text);
		border-radius: 0;
		height: auto;

		.select2-selection__rendered {
			border: var(--wp--custom--input--border--width) var(--wp--custom--input--border--style) var(--wp--custom--input--border--color);
			color: var(--wp--custom--input--color--text);
			padding: calc(2 * var(--wp--preset--spacing--20));
		}

		.select2-selection__arrow {
			margin: calc(5 * var(--wp--preset--spacing--20)) calc(2 * var(--wp--preset--spacing--20)) 0;
		}
	}

	.select2-dropdown {
		border-color: var(--wp--custom--input--border--color);
	}
}

textarea {
	width: 100%;
}

label {
	margin-bottom: calc(var(--wp--custom--spacing--vertical) / 3);
}

/**
https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/
https://codepen.io/aaroniker/pen/ZEYoxEY by Aaron Iker.
License: MIT.
*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

	input[type="checkbox"],
	input[type="radio"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		position: relative;
		width: 18px;
		height: 18px;
		border: var(--wp--custom--input--border--width) var(--wp--custom--input--border--style) var(--wp--custom--input--border--color);
		background: var(--wp--custom--input--color--background);
		vertical-align: sub;

		&:disabled {
			opacity: 0.7;
		}
	}

	input[type="checkbox"] {

		&:after {
			content: "";
			opacity: 0;
			display: block;
			left: 5px;
			top: 0;
			position: absolute;
			width: 6px;
			height: 13px;
			border: 2px var(--wp--custom--input--border--style) var(--wp--custom--input--border--color);
			border-top: 0;
			border-left: 0;
			transform: rotate(30deg);
		}

		&:checked {
			color: var(--wp--custom--input--color--text);

			&:after {
				opacity: 1;
			}
		}
	}

	input[type="radio"] {
		border-radius: 50%;
		margin-right: 15px;

		// &:focus {
		// 	outline-offset: 2px;
		// 	outline: 2px dotted var(--form--border-color);
		// }

		&:after {
			content: "";
			opacity: 0;
			display: block;
			left: 1px;
			top: 1px;
			position: absolute;
			width: 14px;
			height: 14px;
			border-radius: 50%;
			background: #979797;
		}

		&:checked {

			&:after {
				opacity: 1;
			}

			// // Focus style for checked radio buttons.
			// &:focus {
			// 	outline-offset: 4px;
			// 	outline: 2px dotted var(--form--border-color);
			// }
		}
	}
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	display: inline-block;
	padding-left: 10px;
	vertical-align: top;
}

/**
 * https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

	input[type="range"] {
		-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
		width: 100%; /* Specific width is required for Firefox. */
		height: 6px;
		background: #fff;
		border-radius: 6px;
		outline-offset: 10px;

		&:disabled {
			opacity: 0.7;
		}
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: 3px solid var(--wp--custom--input--border--color);
		height: 44px;
		width: 44px;
		border-radius: 50%;
		background: #fff;
		cursor: pointer;
	}

	input[type="range"]::-moz-range-thumb {
		border: 3px solid var(--wp--custom--input--border--color);
		height: 44px;
		width: 44px;
		border-radius: 50%;
		background: #fff;
		cursor: pointer;
		box-sizing: border-box;
	}
}

input[type="range"]::-ms-track {
	width: 100%;
	height: 6px;
	border-radius: 6px;
	border-width: 19px 0;
	border-color: var(--wp--custom--input--border--color);
	background: var(--wp--custom--input--color--background);
	color: transparent;
	cursor: pointer;
}

input[type="range"]::-ms-fill-upper {
	background: #fff;
	border-radius: 6px;
}

input[type="range"]::-ms-fill-lower {
	background: #fff;
	border-radius: 6px;
}

input[type="range"]::-ms-thumb {
	border: 3px solid var(--wp--custom--input--border--color);
	height: 44px;
	width: 44px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
}

fieldset {
	display: grid;
	border-color: var(--wp--custom--input--border--color);
	padding: var(--wp--custom--spacing--horizontal);

	legend {
		font-size: var(--wp--preset--font-size--medium);
	}

	input {

		&[type="submit"] {
			max-width: max-content;
		}

		&:not([type="submit"]) {
			margin-bottom: var(--wp--custom--spacing--unit);
		}

		&[type="radio"],
		&[type="checkbox"] {
			margin-bottom: 0;
		}

		&[type="radio"] + label,
		&[type="checkbox"] + label {
			padding-left: 0;
			margin-bottom: var(--wp--custom--spacing--unit);
		}
	}
}

::-moz-placeholder { // Firefox 19+
	opacity: 1;
}

.post-password-message {
	font-size: var(--wp--preset--font-size--medium);
}

.post-password-form {
	display: flex;
	flex-wrap: wrap;

	&__label {
		width: 100%;
		margin-bottom: 0;
	}

	input[type="password"] {
		flex-grow: 1;
		margin-top: calc(var(--wp--custom--spacing--vertical) / 3);
		margin-right: calc(0.66 * var(--wp--custom--spacing--horizontal));
	}

	&__submit {
		margin-top: calc(var(--wp--custom--spacing--vertical) / 3);
		@include media(tablet) {
			margin-left: calc(0.4 * var(--wp--custom--spacing--horizontal));
		}
	}
}

.grecaptcha-badge {
	visibility: hidden;
}

