
%menu-item-footer {
	font-size: var(--wp--preset--font-size--menu);
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	@include media(tablet) {
		line-height: 30px;
	}
}

%theme-input-text-and-placeholder-style {
	font-family: var(--wp--preset--font-family--primary);
	font-style: italic;
	font-weight: 300;
	font-size: 13px;
	color: var(--form--color-text);
	letter-spacing: 0.27px;
	line-height: 18px;

	&::placeholder {
		font-weight: 300;
		color: var(--goldencat--color-primary);
	}
}


%theme-wc-price {
	font-family: var(--wp--preset--font-family--primary);
	font-size: var(--goldencat--font-size-base);
	font-weight: bold;
	font-style: italic;
	color: var(--goldencat--color-third);
	letter-spacing: 2.17px;
	line-height: 16px;
}

%timing-detail-italic {
	font-family: var(--wp--preset--font-family--primary);
	font-size: var(--global--font-size-base);
	font-weight: 300;
	font-style: italic;
	letter-spacing: 0.27px;
	line-height: 18px;
}

%theme-menu-style {
	font-family: var(--wp--preset--font-family--primary);
	font-size: var(--goldencat--font-size-base);
	font-weight: 500;
	letter-spacing: 2.17px;
	line-height: 18px;
	text-transform: uppercase;
}
