img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.wp-block-image {
	text-align: center;

	img {
		width: 100%;
	}

	figcaption {
		color: var(--goldencat--color-primary);
		font-size: var(--goldencat--font-size-xs);
		margin-top: calc(0.5 * var(--goldencat--spacing-unit));
		margin-bottom: var(--goldencat--spacing-unit);
		text-align: center;
	}

	.alignright {
		margin-left: var(--goldencat--spacing-horizontal);
	}

	.alignleft {
		margin-right: var(--goldencat--spacing-horizontal);
	}

	> .alignleft,
	> .alignright {
		@include media(mobile) {
			max-width: 50%;
		}
		@include media(mobile-only) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	a:focus img {
		outline-offset: 2px;
	}

	// Block Styles
}
