.post-thumbnail {

	img {
		width: 100%;
	}
}

/**
 * Entry Content
 */

.entry-content {

	p {
		word-wrap: break-word;
	}

	// Overwrite iframe embeds that have inline styles.
	> iframe[style] {

		margin: var(--wp--custom--spacing--vertical) 0 !important;
		max-width: 100% !important;
	}
}

.goldencat-social-share {
	justify-content: center;
	display: flex;
	align-items: center;
	gap: 11px;

	.wp-block-social-links {
		display: flex;
		padding: 0;
		margin-left: 0;
		gap: 0.3em;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		font-size: 18px;
	}
}
