.post-excerpt {

	a {
		text-decoration: none;
	}
}

.excerpt-thumbnail {
	position: relative;

	img {
		width: 100%;
	}

	.wp-post-image {
		display: block;
		max-width: 100%;
	}
}

.excerpt-content {

	a {
		text-decoration: none;
	}
}
