// Footer
.site-footer {
	@extend %responsive-alignfull-width;
	position: relative;
	overflow: hidden;

	ul {
		list-style: none;
		padding: 0;
	}

	.widget_nav_menu {
		margin-top: calc(0.5 * var(--goldencat--spacing-vertical));
		margin-bottom: calc(0.8 * var(--goldencat--spacing-vertical));
		max-width: var(--responsive--content-size-width);
		margin-left: auto;
		margin-right: auto;

		ul {
			text-align: center;

			@include media(tablet) {
				display: flex;
				justify-content: space-evenly;
			}
		}

		a {
			text-decoration: none;
			position: relative;
			color: var(--goldencat--color-primary);
			padding-bottom: calc(0.5 * var(--goldencat--button--padding-vertical));

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				width: 100%;
				height: 1px;
				background: var(--goldencat--color-primary);
				transform: scaleX(0);
				transform-origin: bottom center;
				transition: transform 0.4s;
				transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			}

			&:hover,
			&:focus {

				&::after {
					transform: scaleX(0.9);
					transform-origin: bottom center;
				}
			}
		}

		.current-menu-item a {

			&::after {
				transform: scaleX(0.9);
				transform-origin: bottom center;
			}
		}
	}

	.widget_block {
		margin-top: calc(0.5 * var(--goldencat--spacing-vertical));
		margin-bottom: calc(0.8 * var(--goldencat--spacing-vertical));
	}

}

.footer-main-area {
	@extend %responsive-alignwide-width;
	margin-top: calc(0.5 * var(--goldencat--spacing-vertical));
	margin-bottom: calc(0.5 * var(--goldencat--spacing-vertical));

	@include media(laptop) {
		margin-top: calc(1 * var(--goldencat--spacing-vertical));
	}

	a {
		text-decoration: none;
	}

	h3 {
		margin-bottom: 0;
		text-align: center;

		@include media(tablet) {
			text-align: left;
		}
	}

	// .wp-block-columns {
	// 	justify-content: center;

	// 	.wp-block-column {

	// 		@include media(tablet) {
	// 			padding: var(--goldencat--spacing-unit);
	// 		}
	// 	}
	// }
}

.footer-bottom {
	@extend %responsive-alignwide-width;
	font-size: 11px;
	line-height: 1.4;
	margin-top: calc(0.5 * var(--goldencat--spacing-vertical));
	margin-bottom: calc(0.5 * var(--goldencat--spacing-vertical));
	padding-top: calc(0.5 * var(--goldencat--spacing-vertical));
	padding-bottom: calc(0.2 * var(--goldencat--spacing-vertical));
	background-color: var(--goldencat--color-background);
	border-top: 1px solid var(--goldencat--color-primary);

	a {
		text-decoration: none;
	}

	p > span {
		display: block;
	}

	@include media(tablet) {

		p > span {
			display: inline;
		}

		// Separator " | "
		p > span:not(:last-child) {

			&::after {
				padding-left: 2px;
				padding-right: 1px;
				content: "|";
				display: inline-block;
			}
		}
	}
}

/* stylelint-disable */
#sb_instagram.sbi_col_3 #sbi_images .sbi_item,
#sb_instagram.sbi_col_4 #sbi_images .sbi_item, 
#sb_instagram.sbi_col_5 #sbi_images .sbi_item, 
#sb_instagram.sbi_col_6 #sbi_images .sbi_item {
	width: 25%;
}

#sb_instagram.sbi_col_6 #sbi_images .sbi_item {
	@include media(tablet) {
		width: 16.66%;
	}
}
#sb_instagram #sbi_images .sbi_item:nth-child(n+5) {
	@include media(tablet-only) {
		display: none;
	}
}
/* stylelint-enable */
