// Footer
.site-footer {
	position: relative;

	margin-top: var(--wp--custom--footer--spacing--margin--top, 0);
	background-color: var(--wp--custom--footer--color--background, transparent);
	color: var(--wp--custom--footer--color--text, #000);

	ul {
		list-style: none;
		padding: 0;
	}

	.widget_nav_menu {
		margin-top: calc(0.5 * var(--wp--custom--spacing--vertical));
		margin-bottom: 0;
		max-width: var(--wp--custom--responsive--content-size-width);
		margin-left: auto;
		margin-right: auto;

		ul {
			text-align: center;
			margin: 0;

			@include media(tablet) {
				text-align: left;
				// 	display: flex;
				// 	justify-content: space-evenly;
			}
		}

		li {
			margin-bottom: calc(0.5 * var(--wp--custom--spacing--unit));
		}

		a {
			text-decoration: none;
			position: relative;
			color: var(--wp--custom--footer--color--text, #000);
			padding-bottom: calc(0.5 * var(--wp--custom--spacing--unit));

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				width: 100%;
				height: 1px;
				background: var(--wp--custom--footer--color--text, #000);
				transform: scaleX(0);
				transform-origin: bottom left;
				transition: transform 0.4s;
				transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			}

			&:hover,
			&:focus {

				&::after {
					transform: scaleX(1);
					transform-origin: bottom right;
				}
			}
		}

		.current-menu-item a {

			&::after {
				transform: scaleX(1);
				transform-origin: bottom right;
			}
		}
	}

	.widget_block {
		margin-top: calc(0.5 * var(--wp--custom--spacing--vertical));
		margin-bottom: calc(0.8 * var(--wp--custom--spacing--vertical));
	}

}

#footer-above-section {

	a {
		text-decoration: none;
	}
}

.footer-main-area {
	margin-top: calc(0.5 * var(--wp--custom--spacing--vertical));
	margin-bottom: calc(0.5 * var(--wp--custom--spacing--vertical));

	@include media(laptop) {
		margin-top: calc(1 * var(--wp--custom--spacing--vertical));
	}

	a {
		text-decoration: none;
	}

	h5 {
		margin-bottom: 14px;
	}

	.wp-block-columns.is-layout-flex {
		margin-bottom: 0;

		@include media(tablet) {
			gap: var(--wp--style--block-gap);
		}
	}

	.wp-block-column {
		text-align: center;

		@include media(tablet) {
			text-align: left;
		}

		> p {
			margin-top: 0;
		}
	}

	.wp-block-social-links,
	.wp-block-social-links.has-normal-icon-size {
		font-size: 22px;
		justify-content: center;

		@include media(tablet) {
			justify-content: flex-start;
		}

		li {
			color: var(--wp--custom--footer--color--text, #000) !important;
		}
	}

	.wp-element-button,
	.wp-block-button__link {
		border-color: var(--wp--custom--footer--color--text, #000);
		color: var(--wp--custom--footer--color--text, #000);
		background-color: var(--wp--custom--footer--color--background, transparent);

		&:hover {
			color: var(--wp--custom--footer--color--background, #fff);
			background-color: var(--wp--custom--footer--color--text, #000);
		}
	}

	.wp-block-group.is-layout-flex.is-nowrap {
		justify-content: center;
		gap: 10px;

		@include media(tablet) {
			justify-content: flex-start;
		}
	}
}

.footer-bottom {
	max-width: var(--wp--custom--responsive--wide-size-width);
	margin-left: auto;
	margin-right: auto;
	margin-top: calc(0.5 * var(--wp--custom--spacing--vertical));
	margin-bottom: calc(0.5 * var(--wp--custom--spacing--vertical));

	a {
		text-decoration: none;
	}

	p {
		margin-bottom: 0;
		font-weight: 300;
	}

	p > span {
		// display: block;
		line-height: 1.6;
	}

	> * {
		margin: 0;
	}

	.footer-credits {
		line-height: 0;
	}

	@include media(tablet) {

		p > span {
			display: inline;
		}

		// Separator " | "
		p > span:not(:last-child) {

			&::after {
				padding-left: 2px;
				padding-right: 1px;
				content: "|";
				display: inline-block;
			}
		}
	}
}

/* stylelint-disable */
#sb_instagram.sbi_col_3 #sbi_images .sbi_item,
#sb_instagram.sbi_col_4 #sbi_images .sbi_item, 
#sb_instagram.sbi_col_5 #sbi_images .sbi_item, 
#sb_instagram.sbi_col_6 #sbi_images .sbi_item {
	width: 25%;
}

#sb_instagram.sbi_col_6 #sbi_images .sbi_item {
	@include media(tablet) {
		width: 16.66%;
	}
}
#sb_instagram #sbi_images .sbi_item:nth-child(n+5) {
	@include media(tablet-only) {
		display: none;
	}
}
/* stylelint-enable */
