.site-header.sticky-header + #page .site-content {
	margin-top: var(--goldencat--header--height, 0);
}

.has-sticky-header #wpadminbar {
	position: fixed;
}


// Site Header
.site-header {
	background-color: var(--wp--custom--header--color--background, transparent);
	color: var(--wp--custom--header--color--text, #000);
	margin-bottom: var(--wp--custom--header--spacing--margin--bottom, 0);

	&.sticky-header {
		position: fixed;
		top: 0;
		width: 100%;
		transition: all 0.3s ease-in-out;
		background-color: var(--wp--custom--header--color--background, #fff);
		z-index: 101;
	}

	.admin-bar &.sticky-header {
		top: var(--goldencat--admin-bar--height);
	}

	ul {
		list-style: none;
		padding: 0;
	}

	button,
	.cart-button,
	.wc-header-button,
	.button.button {
		padding: 0;
		margin: 0;
		background-color: transparent;
		border: none;
		color: var(--wp--custom--header--color--text, #000);
		-webkit-tap-highlight-color: transparent;

		svg {
			fill: var(--wp--custom--header--color--text, #000);
		}
	}

	a {
		text-decoration: none;
	}

	.goldencat-toggle-menu {
		background-color: var(--wp--custom--header--color--background, transparent);
	}
}


// Site branding
.site-branding {
	max-width: 176px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 14px;

	@include media(tablet) {
		padding-bottom: 25px;
	}

	h1 {
		line-height: normal;

		@include media(laptop) {
			font-size: inherit;
		}
	}

	.site-logo {
		max-width: 176px;
		margin: 0 auto;

		svg {
			display: block;
			fill: var(--wp--custom--header--color--text, #000);
		}
	}
}


@import "./header/menu-button.scss";

@import "./header/navigation.scss";
@import "./header/link.scss";
@import "./header/header-layout.scss";
// @import "./header/search.scss";
