
// Site Header
.site-header {
	@extend %responsive-alignwide-width;
	color: var(--primary-nav--color-link);

	ul {
		list-style: none;
		padding: 0;
	}

	button,
	.cart-button,
	.wc-header-button,
	.button.button {
		padding: 0;
		margin: 0;
		background-color: transparent;
		border: none;
		color: var(--primary-nav--color-link);
		-webkit-tap-highlight-color: transparent;
	}

	a {
		text-decoration: none;
	}
}


// Site branding
.site-branding {

	h1 {
		line-height: normal;

		@include media(laptop) {
			font-size: inherit;
		}
	}

	.site-logo {
		max-width: 155px;
		margin: 0 auto;

		svg {
			display: block;
			fill: var(--primary-nav--color-link);
		}
	}
}


@import "./header/menu-button.scss";

@import "./header/navigation.scss";
@import "./header/link.scss";
@import "./header/header-layout.scss";
@import "./header/search.scss";
