/* Next/Previous navigation */
// All navigation
.navigation {

	a {
		text-decoration: none;
	}

	.nav-links {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: var(--wp--style--block-gap);

		// > * {
		// 	min-width: 44px;
		// 	min-height: 44px;
		// }

		.dots
		.dots:hover {
			text-decoration: none;
		}
	}

	svg {
		max-width: 14px;
		display: inline-block;
		fill: currentColor;
		vertical-align: middle;
		position: relative;
	}
}

// Singular navigation
.post-navigation {

	.nav-title {
		display: none;

		@include media(tablet) {
			display: block;

			// font-size: var(--goldencat--font-size-base);
		}
	}

	.nav-subtitle {
		display: flex;
		align-items: center;
		// svg {
		// 	vertical-align: middle;
		// }
		font-size: var(--goldencat--font-size-md);

		// @include media(tablet) {
		// 	margin-bottom: calc(1 * var(--wp--custom--spacing--unit));
		// }
	}

	.nav-links {
		text-align: center;

		> * {
			padding: 0 calc(3 * var(--wp--custom--spacing--unit));

		}
	}

	.nav-next {
		text-align: left;

		.nav-subtitle svg {
			margin-left: calc(1 * var(--wp--custom--spacing--unit));
		}
	}

	.nav-previous {
		text-align: right;

		.nav-subtitle {
			justify-content: flex-end;
		}

		.nav-subtitle svg {
			margin-right: calc(1 * var(--wp--custom--spacing--unit));
		}
	}
}

// Index/archive navigation
.pagination,
.comments-pagination {

	.nav-links {

		> * {

			margin-left: calc(1 * var(--wp--custom--spacing--unit));
			margin-right: calc(1 * var(--wp--custom--spacing--unit));

			&:hover,
			&.current {
				text-decoration: underline;
				text-decoration-color: var(--goldencat--color-secondary);
				text-underline-offset: 8px;
				text-decoration-thickness: 1px;
			}

			&.dots,
			&.dots:hover {
				text-decoration: none;
			}

			&.prev,
			&.next {
				text-decoration: none;
			}

			&.prev {
				margin-right: calc(2 * var(--wp--custom--spacing--unit));
			}

			&.next {
				margin-left: calc(2 * var(--wp--custom--spacing--unit));
			}
		}
	}
}
