.components-spinner,
.components-spinner:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

.components-spinner {
	display: inline-block;
	margin: 5px 11px 0;
	position: relative;
	overflow: visible;
	font-size: 0.3rem;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #fff;
	transform: translateZ(0);
	will-change: opacity;
	opacity: 0;
	transition: linear;
	// animation: load8 1.1s infinite linear;
	animation: 1.4s linear 0s infinite normal both paused load8;

	&.active {
		opacity: 1;
		animation-play-state: running;
	}
}

@keyframes load8 {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
