/* stylelint-disable */
:root {
	--wp--preset--font-family--primary: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	--wp--preset--font-family--secondary: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
	--wp--preset--font-family--primary: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	--wp--preset--font-family--secondary: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;

	--goldencat--admin-bar--height: 0px;
	--goldencat--header--height: 0px;

	&.admin-bar {
		--goldencat--admin-bar--height: 46px;

		@include media(tablet) {
			--goldencat--admin-bar--height: 32px;
		}
	}

	--goldencat--baseline-unit: 10px;
	
	--goldencat--default_width: #{$default_width};
	--goldencat--max_content_width: #{$max_content_width};

	--goldencat--breakpoint_mobile: #{$breakpoint_sm};
	--goldencat--breakpoint_tablet: #{$breakpoint_md};
	--goldencat--breakpoint_laptop: #{$breakpoint_lg};
	--goldencat--breakpoint_desktop: #{$breakpoint_xl};
	--goldencat--breakpoint_wide: #{$breakpoint_xxl};


	/* Font Size */
	--goldencat--font-size-base: 12px;
	--goldencat--font-size-xs: 1rem; // 16px / 16px
	--goldencat--font-size-sm: 1.125rem; // 18px / 16px
	--goldencat--font-size-md: 1.25rem; // 20px / 16px
	--goldencat--font-size-lg: 1.5rem; // 24px / 16px
	--goldencat--font-size-xl: 2.25rem; // 36px / 16px
	--goldencat--font-size-xxl: 4rem; // 64px / 16px
	--goldencat--font-size-xxxl: 5rem; // 80px / 16px
	--goldencat--font-size-page-title: var(--goldencat--font-size-xxl);
	--goldencat--letter-spacing: 0.27px;
	--goldencat--line-height: 18px;

	@include media(tablet) {
		--goldencat--font-size-base: var(--wp--preset--font-size--normal);
	}

	--heading--font-size-h6: 14px;
	--heading--font-size-h5: 14px;
	--heading--font-size-h4: 14px;
	--heading--font-size-h3: 20px;
	--heading--font-size-h2: 30px;
	--heading--font-size-h1: 30px;
	--heading--line-height-h1: 1;

	@include media(tablet) {
		--heading--font-size-h6: 20px;
		--heading--font-size-h5: 24px;
		--heading--font-size-h4: var(--wp--preset--font-size--h-4);
		--heading--font-size-h3: var(--wp--preset--font-size--h-3);
		--heading--font-size-h2: var(--wp--preset--font-size--h-2);
		--heading--font-size-h1: var(--wp--preset--font-size--h-2);
		--heading--line-height-h1: 117px;

	}

	/* Spacing */
	--goldencat--spacing-unit: #{1 * $baseline-unit}; // 20px
	--goldencat--spacing-measure: unset; // Use ch units here. ie: 60ch = 60 character max-width
	--goldencat--spacing-horizontal: #{2.5 * $baseline-unit}; // 25px
	--goldencat--spacing-vertical: #{3 * $baseline-unit}; // 30px.
	--goldencat--button--padding-vertical: 15px;
	--goldencat--button--padding-horizontal: 30px;


	// Color
	--goldencat--color-primary: var(--wp--preset--color--black); /* Body text color, site title, footer text color. */
	--goldencat--color-secondary: var(--wp--preset--color--blue); /* Headings */
	--goldencat--color-third: var(--wp--preset--color--blue-green); /* Headings */
	--goldencat--color-gray: var(--wp--preset--color--gray); /* Headings */
	--goldencat--color-primary-hover: var(--goldencat--color-primary);
	--goldencat--color-background: var(--wp--preset--color--white); /* Mint, default body background */
	--goldencat--color-border: var(--global--color-primary); /* Used for borders (separators) */

	// Shadowing
	--goldencat--shadow-color: 0deg 0% 80%;
	--goldencat--shadow-elevation--high:
	-0.1px 0.1px 0.2px hsl(var(--goldencat--shadow-color) / 0),
	-1.3px 2px 3.6px hsl(var(--goldencat--shadow-color) / 0.29),
	-3.9px 6px 10.7px hsl(var(--goldencat--shadow-color) / 0.58);

	// Form
	--goldencat--form--border-radius: 0;
	--goldencat--form--border-width: 1px;
	--goldencat--form--border-color: var(--goldencat--color-secondary);
	--goldencat--form--color-text: var(--goldencat--color-primary);
	--goldencat--form--spacing-unit: calc(0.5 * var(--goldencat--spacing-unit));
	
}
/* stylelint-enable */
