@import "./mixins-button";
// Responsive breakpoints mixin
@mixin media( $res ) {

	@if mobile-only == $res {
		@media only screen and (max-width: #{$breakpoint_mobile - 1}) {
			@content;
		}
	}

	@if mobile == $res {
		@media only screen and (min-width: #{$breakpoint_mobile}) {
			@content;
		}
	}

	@if tablet-only == $res {
		@media only screen and (max-width: #{$breakpoint_tablet - 1}) {
			@content;
		}
	}

	@if tablet == $res {
		@media only screen and (min-width: #{$breakpoint_tablet}) {
			@content;
		}
	}

	@if laptop-only == $res {
		@media only screen and (max-width: #{$breakpoint_laptop - 1}) {
			@content;
		}
	}

	@if laptop == $res {
		@media only screen and (min-width: #{$breakpoint_laptop}) {
			@content;
		}
	}

	@if desktop-only == $res {
		@media only screen and (max-width: #{$breakpoint_desktop - 1}) {
			@content;
		}
	}

	@if desktop == $res {
		@media only screen and (min-width: #{$breakpoint_desktop}) {
			@content;
		}
	}

	@if wide-only == $res {
		@media only screen and (max-width: #{$breakpoint_ultra - 1}) {
			@content;
		}
	}

	@if wide == $res {
		@media only screen and (min-width: #{$breakpoint_ultra}) {
			@content;
		}
	}
}

@mixin mediapx( $res ) {
	@media only screen and (min-width: $res) {
		@content;
	}
}

@mixin screen-reader-text() {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
}

@mixin clearfix {

	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

@mixin wrap-break-word {
	// https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap
	// https://developer.mozilla.org/en-US/docs/Web/CSS/word-break
	// This is the current standard, works in most browsers.
	overflow-wrap: anywhere;
	// Safari supports word-break.
	word-break: break-word;
	// We also need word-wrap and for IE.
	-ms-word-break: break-all;
}

@mixin grid-archive-wrapper() {

	> * {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 1rem;
		margin-top: 0;
		margin-left: calc(-0.5 * var(--global--spacing-horizontal));
		margin-right: calc(-0.5 * var(--global--spacing-horizontal));

		> * {
			padding-left: calc(0.5 * var(--global--spacing-horizontal));
			padding-right: calc(0.5 * var(--global--spacing-horizontal));
		}
	}
}

@mixin woocommerce-label() {
	font-weight: 500;
	font-size: var(--global--font-size-base);
	color: var(--wp--preset--color--black);
	letter-spacing: 0;
	line-height: 18px;
}

@mixin woocommerce-cart-title() {
	// font-family: Montserrat-SemiBold;
	font-family: var(--wp--preset--font-family--primary);
	font-weight: 600;
	font-size: 18px;
	color: var(--wp--preset--color--black);
	letter-spacing: 0;
	line-height: 24px;
}

@mixin non-selectable {
	user-select: none;
	pointer-events: none;
}

@mixin underlined-link() {
	font-weight: 600;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

@mixin numbered_pseudo_element( $counter: "" ) {
	@if $counter != "" {

		&::before {
			content: counter(#{$counter}) ".";

			/* Style away! */
			font-family: var(--wp--preset--font-family--secondary);
			background: transparent;
			width: 41px;
			height: 41px;
			display: block;
			text-align: center;
			line-height: 41px;

			margin-right: 1rem;
			@include media(tablet) {
				margin-left: unset;

				display: inline-block;
			}
		}
	}
}


@mixin size-content-width() {
	max-width: var(--wp--style--global--content-size);
	margin-left: auto;
	margin-right: auto;
}

@mixin size-wide-width() {
	max-width: var(--wp--style--global--wide-size);
	margin-left: auto;
	margin-right: auto;
}

@mixin size-full-width() {
	max-width: var(--wp--custom--responsive--full-size-width);
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
