
// Size
// $baseline-unit: 10px;

// $layout-content-size: 835px;
// $layout-wide-size: 1260px;
$breakpoint_mobile: 482px; // mobile
$breakpoint_tablet: 768px; // tablet
$breakpoint_laptop: 1024px; // laptop
$breakpoint_desktop: 1280px; // desktop
$breakpoint_ultra: 1460px; // wide

