
// Size
$baseline-unit: 10px;

$default_width: 835px;
$max_content_width: 1260px;
$breakpoint_sm: 482px; // mobile
$breakpoint_md: 768px; // tablet
$breakpoint_lg: 1023px; // laptop
$breakpoint_xl: 1280px; // desktop
$breakpoint_xxl: 1460px; // wide

