.wp-block-columns {

	// Futur style of column

	&.is-style-goldencat-columns-media-text {

		.wp-block-column {
			@include media(laptop) {
				--wp--style--block-gap: calc(3 * var(--goldencat--spacing-horizontal));
			}
			@include media(desktop) {
				--wp--style--block-gap: calc(4 * var(--goldencat--spacing-horizontal));
			}
		}
	}
}

.wp-block-column {
	--wp--style--block-gap: 1.8rem;
}
