/**
* Editor Post Title
* - Needs a special styles
*/

// Post title style
.wp-block.editor-post-title__block {
	border-bottom: 3px solid var(--goldencat--color-border);
	padding-bottom: calc(2 * var(--goldencat--spacing-vertical));
	margin-bottom: calc(3 * var(--goldencat--spacing-vertical));
	max-width: var(--responsive--alignwide-width);
}

// Gutenberg text color options
.has-primary-color[class] {
	color: var(--goldencat--color-primary);
}

.has-secondary-color[class] {
	color: var(--goldencat--color-secondary);
}

// Gutenberg background-color options
.has-background {

	a,
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: currentColor;
	}
}

.has-primary-background-color[class] {
	// background-color: var(--goldencat--color-primary);
	color: var(--wp--preset--color--black);
}

.has-secondary-background-color[class] {
	// background-color: var(--goldencat--color-secondary);
	color: var(--wp--preset--color--white);
}

.has-white-background-color[class] {
	// background-color: var(--wp--preset--color--white);
	// color: var(--goldencat--color-secondary);
	color: var(--wp--preset--color--black);
}

.has-black-background-color[class] {
	// background-color: var(--wp--preset--color--black);
	color: var(--wp--preset--color--white);
}

// Spacing Overrides
[data-block] {
	margin-top: var(--goldencat--spacing-vertical);
	margin-bottom: var(--goldencat--spacing-vertical);
}

// Block Alignments
.wp-block {

	// Gutenberg injects a rule that limits the max width of .wp-block to 580px
	// This line overrides it to use the responsive spacing rules for default width content
	// max-width: var(--responsive--content-size-width);
	margin-left: auto;
	margin-right: auto;

	// Use the theme's max-width for wide alignment.
	&[data-align="wide"],
	&.alignwide {
		// max-width: var(--responsive--alignwide-width);
	}

	&[data-align="full"],
	&.alignfull {
		max-width: none;
	}
}

.alignleft {
	margin: 0;
	margin-right: var(--goldencat--spacing-horizontal);
}

.alignright {
	margin: 0;
	margin-left: var(--goldencat--spacing-horizontal);
}

// Drop cap
.has-drop-cap:not(:focus)::first-letter {
	font-family: var(--wp--preset--font-family--secondary);
	line-height: 0.66;
	text-transform: uppercase;
	font-style: normal;
	float: left;
	margin: 0.1em 0.1em 0 0;
}

@media only screen and (min-width: 482px) {

	.wp-block[data-align="left"] > * {
		max-width: 290px;
		margin-right: var(--goldencat--spacing-horizontal);
	}

	.wp-block[data-align="right"] > * {
		max-width: 290px;
		margin-left: var(--goldencat--spacing-horizontal);
	}
}

// Remove the border of blockquotes inside the classic block.
.wp-block-freeform.block-library-rich-text__tinymce blockquote {
	border: none;
}

// Adjust the position of the quote symbol for blockquotes inside the classic block.
.wp-block-freeform.block-library-rich-text__tinymce blockquote:before {
	left: 5px;
}

.goldencat-is-full-height {
	height: 100%;
	display: flex;

	> *:first-child {
		display: flex;
		flex-direction: column;
		align-content: flex-end;

		> * {
			margin-top: 0;
			margin-bottom: calc(0.666 * var(--goldencat--spacing-vertical));

			@include media(mobile) {
				margin-top: 0;
				margin-bottom: var(--goldencat--spacing-vertical);
			}

			&:first-child {
				margin-top: 0;
			}

			&:nth-last-child(2) {
				flex-grow: 1;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.goldencat-align-narrow {
	max-width: 408px;
	margin-left: auto;
	margin-right: auto;
}


.goldencat-text-justify {
	text-align: justify;
}

.goldencat-space-between {
	justify-content: space-between;
}
