ul,
ol {
	margin: var(--goldencat--spacing-vertical) 0;
	padding-left: calc(2 * var(--goldencat--spacing-horizontal));

	// Utility classes
	&.aligncenter {
		list-style-position: inside;
		padding: 0;
		text-align: center;
	}

	&.alignright {
		list-style-position: inside;
		padding: 0;
		text-align: right;
	}
}

li {

	> ul,
	> ol {
		margin: 0;
	}
}

dt {
	font-weight: bold;
}

.is-style-ecrannoir-list-horizontal {
	display: flex;
	justify-content: center;
}

ol.is-style-ecrannoir-list-horizontal {
	list-style: none;
	counter-reset: ecrannoirtwentyone-list-horizontal-counter;
	max-width: 500px;
	padding-left: 0;

	li {
		counter-increment: ecrannoirtwentyone-list-horizontal-counter;
		padding-right: calc(1 * var(--goldencat--spacing-horizontal));

		&:last-child {
			padding-right: 0;
		}
	}

	li::before {
		content: counter(ecrannoirtwentyone-list-horizontal-counter);

		/* Style away! */
		font-family: var(--wp--preset--font-family--secondary);
		background: var(--goldencat--color-secondary);
		width: 41px;
		height: 41px;
		border-radius: 50%;
		display: inline-block;
		color: var(--wp--preset--color--white);
		text-align: center;
		@extend %theme-title-h4;
		margin-right: 1rem;
		line-height: 41px;
	}
}
