ul,
ol {
	margin: var(--goldencat--spacing-vertical) 0;
	padding-left: calc(2 * var(--goldencat--spacing-horizontal));

	// Utility classes
	&.aligncenter {
		list-style-position: inside;
		padding: 0;
		text-align: center;
	}

	&.alignright {
		list-style-position: inside;
		padding: 0;
		text-align: right;
	}
}

li {

	> ul,
	> ol {
		margin: 0;
	}
}

dt {
	font-weight: bold;
}

.is-style-goldencat-list-horizontal {
	display: flex;
	justify-content: center;
}

ol.is-style-goldencat-list-horizontal {
	list-style: none;
	counter-reset: goldencat-list-horizontal-counter;
	max-width: 500px;
	padding-left: 0;

	li {
		counter-increment: goldencat-list-horizontal-counter;
		padding-right: calc(1 * var(--goldencat--spacing-horizontal));

		&:last-child {
			padding-right: 0;
		}
	}

	li::before {
		@include theme-numbered-step();
	}
}
