ul,
ol {
	margin: 0;

	// Utility classes
	&.aligncenter {
		list-style-position: inside;
		padding: 0;
	}

	&.alignright {
		list-style-position: inside;
		text-align: right;
		padding: 0;
	}
}

ul {
	list-style: none;
}

ol {
	list-style-type: decimal;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0;
	padding-left: calc(0.7 * var(--goldencat--spacing-horizontal));
}

.is-style-goldencat-light-point {

	li {
		line-height: 18px;
		position: relative;
		margin-bottom: 18px;
	}

	li::before {
		content: "\2022";
		font-size: 9px;
		position: absolute;
		margin-left: -10px;
	}
}

.is-style-goldencat-list-horizontal {
	display: flex;
	justify-content: center;
}

ol.is-style-goldencat-list-horizontal {
	list-style: none;
	counter-reset: goldencat-list-horizontal-counter;
	max-width: 500px;
	padding-left: 0;

	li {
		counter-increment: goldencat-list-horizontal-counter;
		padding-right: calc(1 * var(--goldencat--spacing-horizontal));
		text-align: center;
		font-size: var(--wp--preset--font-size--h-4);

		&:last-child {
			padding-right: 0;
		}
	}

	li::before {
		content: counter(goldencat-list-horizontal-counter) ".";
		@include theme-numbered-step();
		display: inline-block;
		// margin-right: auto;
		// margin-left: auto;

		// @include media(tablet) {
		// 	margin-right: 1rem;
		// 	margin-left: unset;
		// 	display: inline-block;
		// }
	}
}
