/* stylelint-disable */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

html {
  box-sizing: border-box;
	font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Not so necessary
// Depends on project 
// For Starter I' don't want to
// * {
//   margin: 0;
// }
/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select, optgroup {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

// /**
//  * Reset specific elements to make them easier to style in other contexts.
//  */

// html,
// body,
// ol,
// ul,
// li,
// dl,
// dt,
// dd,
// blockquote,
// figure,
// fieldset,
// form,
// legend,
// textarea,
// pre,
// iframe,
// hr {
// 	padding: 0;
// 	margin: 0;
// 	-moz-osx-font-smoothing: grayscale;
// 	-webkit-font-smoothing: antialiased;
// }

/**
 * Apply generic border-box to all elements.
 * See:
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

// html {


// 	// HTML resets
// 	font-size: 62.5%; /* 1rem = 10px */
// 	scroll-behavior: smooth;
// }

/**
 * Relax the definition a bit, to allow components to override it manually.
 */


// button {
// 	cursor: pointer;
// }
/* stylelint-enable */
