// /**
//  * Site Structure
//  *
//  * - Set vertical margins and responsive widths on
//  *   top-level wrappers and content wrappers
//  * - `--global--width-content` is a responsive variable
//  * - See: globals/_global-width-responsive.scss
//  */


body .entry-content.is-layout-constrained > * {
	margin-block-start: 0;
	margin-block-end: 0;
}

body .entry-content.is-layout-constrained > * + * {
	margin-block-start: var(--wp--preset--spacing--40);
	margin-block-end: 0;
}

.wp-block-media-text__content > *,
body .is-layout-constrained > * {
	margin-block-start: 0;
	margin-block-end: 0;
}

.wp-block-media-text__content > * + *,
body .is-layout-constrained > * + * {
	margin-block-start: var(--wp--preset--spacing--25);
	margin-block-end: 0;

	&.is-style-subtitle,
	&.is-style-goldencat-subtitle {
		margin-block-start: 11px;

		+ * {
			margin-block-start: var(--wp--preset--spacing--20);
		}
	}
}

body .entry-content.is-layout-constrained > *:not(.wp-block-cover):first-child {
	margin-top: var(--wp--preset--spacing--30);

}

body .wc-tab .is-layout-constrained > * {
	margin-block-start: 12px;
	margin-block-end: 0;
}

